h1{
  color: #f7325e;
}
body{
  background-color: brown;
}
.tropical{
  color: #7dc410;
}
.popular{
  color: #FA8072;
}
#background2{
  background-color: green;
}
#background3{
  background-color: cyan;
}
